@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #ccc;
    --background-color: linear-gradient(135deg, #141e30, #0c0c0c);
    --hover-color: #1d4ef8;
    --card-border-color: #fff;
    --social-hover-color: #1d4ed8;
    --card-background-color: #27272a;
    --card-hover-color: #323232;
    --typewriter-font: monospace;
}

.lightmode {
    --primary-color: #111528;
    --secondary-color: #232738;
    --card-border-color: #3a435d;
    --background-color: linear-gradient(135deg, #ffffff, #e0e0e0);
    --hover-color: #1d4ef8;
    --social-hover-color: #b0b4b8;
    --card-background-color: #e5e7eb;
    --card-hover-color: #d1d5db;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--card-border-color);
}

#theme-switch svg:last-child {
    display: none;
}

.lightmode #theme-switch svg:first-child {
    display: none;
}

.lightmode #theme-switch svg:last-child {
    display: block;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    max-width: 1200px;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    color: var(--primary-color);
    padding-bottom: 0.75rem;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--hover-color);
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.container{
    max-width: 1200px;
    padding: 12rem 2rem;
    margin: auto;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px var(--primary-color);
}

header .content p{
    margin-bottom: 3.3rem;
    color: var(--secondary-color);
}

section .header{
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem ;
    justify-content: center;
}

.features .card{
    background-color: var(--card-background-color);
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: var(--card-hover-color);
    border-color: var(--card-border-color);
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.features .card a{
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: var(--hover-color);
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 18px;
}

footer {
    position: relative;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
    margin-bottom: 10rem;
}

footer .socials a:hover{
    color: var(--primary-color);
    background-color: var(--social-hover-color);
    border-color: var(--social-hover-color);
}

footer .column h4{
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: var(--social-hover-color);
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: var(--primary-color);
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 8rem;
}
.text {
    position: relative;
    width: max-content;
    margin: 0 auto; 
    font-family: var(--typewriter-font);
    color: var(--primary-color);
    text-align: center;
}

.text {
    font-size: 1.5rem;
    top: 2rem;
    padding: 3rem;
    margin-bottom: -5rem;
}

.text::after {
    content: "|";
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    50.1%, 100% { opacity: 0; }
}

@media (width < 900px) {
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px) {
    .features{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        grid-template-columns: 1fr 150px;
    }
}